div{
    border: 1px solid;
}
.izquierda{
    width: 70px;
    height: 98%;
    display: inline-block;
}
.borde{
    height: 70px;
}
.centro{
    width: 70%;
    height: 98%;
    display: inline-block;
}
.derecha{
    width: 23%;
    height: 98%;
    display: inline-block;
}
.marco{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}
.foto{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}