div{
    width: 100px;
    height: 100px;
    display: inline-block;
    color: white;
}
#rojo{
    background-color: red;
    opacity: 0.5;
}
#negro{
    background-color: black;
    
}
#invisible{
    visibility: hidden;
}
h1{
    text-align: center;
}
